*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}
.hero {
    background-color:rgb(193, 227, 157);
    height: 110px;
    text-align:center;
    padding: 100px;
 }

.info_id{
 display: flex;
  justify-content:space-evenly; 
   align-items:center; 
  margin-left:1rem ;
}

 .info_imag {
    height: 350px;
    width: 400px;
    margin-top: 5px;
    background-color: white;
    margin-right:2rem;
 }

 .medical {
    height: 350px;
    width: 450px;
    background-size:cover;
    
 } 